server {
    listen 80;
    listen [::]:80;
    server_name __OWLCOGNITO_DOMAIN__;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
        default_type text/plain;
    }

    location / {
        return 404;
    }
}
